# Dependencies
node_modules/

# Production build
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
typings/

# IDEs and editors
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db

# Supabase environment files
src/environments/environment.ts
src/environments/environment.prod.ts
